body {
    font-family: sans-serif;
    font-style: normal;
    padding: 90px 20px 0;
}
.header{
    display: inline;
    background-color:white;
    box-shadow: 2px 0px 3px 2px gainsboro;
    height: 80px;
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link:hover{
    background-color:#1977CC;
    transition: 0.5s;
}
.buttonuser{
    width: 100%;
    height: 30px;
    background-color:#1977CC;
    border:none;
    border-radius: 10px;
    color: white;
}
.toggle{
    color:#1977CC;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}
.med-calen{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px; ;
    
}
.medico{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 500px;
    left: 10px;
    top: 232px;
}
.perfilmedico{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px gainsboro;
}
.medicoimg{
    width: 40%;
    height: 150px;
    position: relative;
    left:20px ;
    top: 30px;
}
.infomed{
    display: grid;
    grid-template-rows: 40px 40px 60px 50px;
}
.chat{
    width: 50%;
    height: 30px;
    background-color:#1977CC;
    border:none;
    border-radius: 10px;
    color: white;
}
.infodetallada{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 40px;
    position: relative;
    top: 50px;
}
.info1{
    width: 100%;
    height: 200px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px gainsboro;
    
}
.info2{
    width: 100%;
    height: 200px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px gainsboro;
}
.calendar{
    display:flex;
    flex-direction:column;
    width: 40%;
}
.agendar{
    width: 100%;
    height: 30px;
    background-color:#1977CC;
    border: none;
    border-radius: 10px;
    color: white;
}
@media(max-width:992px){
    body {
        padding-top: 70px;
        width: 90%;
        font-size:12px ;
    }
    .header{
        height: 60px;
        width:100%;
        
    }
        
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color:#8a9dad;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
    }
    .menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover{
        background: none;
        color: #1977CC;
    }
    
    .toggle{      
        display: block;
    }
    .menu_visible{
        left: 0;
    }
    .med-calen{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
    .medico{
        align-items: center;
        width: 400px;
        height: 400px;
    }
    .perfilmedico{
        display: grid;
        grid-template-rows: 150px;
               
        height: 80%;
    }
    .medicoimg{
        height: 100px;
    }
    .infomed{
        font-size:12px ;
    }
    .infodetallada{
        display: grid;
        grid-template-columns: 400px;
        grid-row-gap: 40px;
        width: 100%;
        height: 400px;
    }
    .calendar{
        width: 400px;
        height: 400px;
        position: relative;
        top:500px;
    }
   
    
}