@import url('https://fonts.googleapis.com/css2?family=Poly&family=Poppins&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: whitesmoke;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: #1977cc;
  padding-top: 50px;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
}

.question {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.question__patient {
  color: #1977cc;
}

fieldset {
  border: none;
}

label, .question, .session {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

a {
  color: black;
  text-decoration-color: #1977cc;
}

input {
  border: 1px solid #1977cc;
  border-top-style: solid;
  border-left-style: solid;
  border-radius: 6px;
  width: 100%;
  height: 30px;
  border: 20px 0;
}

input:focus {
  border: 2px solid;
  background: #F3F3F3;
}

button {
  background-color: #1977cc;
  border: none;
  border-radius: 18px;
  font-family: 'Poly', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  width: 200px;
  color: white;
}
