.pagination{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 2rem;
    border-radius: 1.125rem;
    transition: var(--black) .2s ease-out;
       
}
.span{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 1.125rem;
    transition: var(--black) .2s ease-out;
}
span:hover{
    background-color: var(--blue);
    color: white;
}