.about .about__row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.about .about__row .about__image {
  flex:1 1 45rem;
}

.about .about__row .about__image img {
  width: 100%;
}

.about .about__row .about__content {
  flex:1 1 45rem;
}

.about .about__row .about__content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .about__row .about__content p {
  color: var(--light-color);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}
.section-heading-about{
  position: relative;
    top: 0px;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: capitalize;
    color: var(--blue);
    font-size: 5rem;
    letter-spacing: 0.4rem;
}