.box{
  display: flex;
  justify-content: space-around;
}
.profile__container {
  display: flex;
}
.imgPerfil{
  max-width: 200px;
  max-height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1000px;
}

.profile__table {
  width: 30%;
  margin: 2rem;
  border: 1px solid #ccc;
}

.profile__table th {
  width: 25%;
  text-align: left;
  vertical-align: top;
  font-size: 2rem;
}

.profile__table td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  font-size: 2rem;
}
.botoneditar{
  width: 10px;
  height: 10px;
}
.tableProfile{
  display: grid;
  grid-template-columns: 200px 200px;
}
