.section-heading{
  position: relative;
  top: 5px;
}
.imgupload{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 300px;
}
.profile__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.imgPerfil{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 100px;
  border:2px solid #1977cc;
}
.tableProfile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.actualtext{
  font-size:small;
}
.tableProfileDoctor{
  display: flex;
  flex-direction: column;
}