.services .services__box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services__button {
  padding: 1rem;
  text-align: center;
  width: 100%
}
