.calendar-perfilInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 110px;
    padding-top: 1rem;
}
.perfilParrafo{
    text-align: justify;
}
.perfilInformacion{
    width: 100%;
}

.infobasica{
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.atencion{
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.expProfesional{
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.formacionAcademica{
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.calendariodoctor{
    margin: 0 auto;
    width: 100%;
    height: 75%;
    position: relative;
    right: 20%;

}
.agendarcita{
    padding: 0 0.5rem;
    border: var(--border);
    background-color: var(--blue);
    border-radius: 1.4rem;
    color: #fff !important;
    width: 100%;
    font-size: 2rem;

}
.tilesdoctor1{
    color:  var(--blue);
}

.date__table table {
  width: 100%;
  border-spacing: 2rem;
  align-self: center;
  border: 1px solid #1977cc;
  border-radius: 6px;
}

@media(width <= 768px){
    .calendar-perfilInfo{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 3rem;
    }
    .calendariodoctor{
        margin: 0 auto;
        width: 80%;
        height: 80%;
        position: relative;
        right: 0%;
    }
}
