
.home_content--card{
  display: flex;
  margin:0 auto;
  gap: 1rem;
  width: 90%;
  height:15rem;
  border-radius:15px;
  background: rgb(158, 224, 220);
  border: 0.1rem solid black;
}
.home_content--imagen{
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.home-content__card--perfil{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  font-size: 1.5rem;
}
.home-content__card--perfil p,h3{
  font-size: 1.2rem;
}
.home_content--imagen  img{
  height: 110px;
  width: 110px;
  object-fit: cover;
  border-radius: 100px;
  border:2px solid #1977cc;
}
.home_content__enlaces{
    gap: 2rem;
    display: flex;
    justify-content: left;
}
#H-clinica{
  width: 15rem;
}
#CancelDate{
  width: 15rem;
}

@media(max-width:1200px){
  .home_content__enlaces{
  display: inline-flex;
    flex-direction: row;
    gap: 2rem;
}
.home_content--imagen  img{
  height: 110px;
  width: 110px;
}
}
