.footer .footer__box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
  }
  
  .footer .footer__box-container .footer__box h3 {
    font-size: 2.5rem;
  }
  
  .footer .footer__box-container .footer__box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
  }
  
  .footer .footer__box-container .footer__box a i {
    padding-right: .5rem;
    color: var(--blue);
  }
  
  .footer .footer__box-container .footer__box a:hover i {
    padding-right: 2rem;
  }