
 .home-Welcome p {
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}
.home_content__parrafo{
  display: block;
}
.home_content__parrafo>p{
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.8;
}