.developers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 30fr));
    gap: 3rem;
}
.box{
    display: flex;
    flex-direction: column;
}
.linkredes{
    font-size: medium;
    color:var(--blue);
}