@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --blue: #1977cc;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--blue);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}

.section-heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
  color: var(--blue);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

/* .section-heading span{
  text-transform: uppercase;
  color:var(--blue);
} */

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .header__logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .header__logo i {
  color: var(--blue);
}

.header .header__navigation a {
  font-size: 1.7rem;
  color: var(--black);
  margin-left: 2rem;
}

.header .header__navigation a:hover {
  color: var(--blue);
}

#header__menu-btn-responsive {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.btn-users {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  /* padding-left: 1rem; */
  border: var(--border);
  background-color: var(--blue);
  border-radius: 5rem;
  color: #fff !important;
  /* cursor: pointer; */
  /* font-size: 1.7rem; */
}

/* HOME */

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .home__image {
  flex: 1 1 45rem;
}

.home .home__image img {
  width: 100%;
}

.home .home__content {
  flex: 1 1 45rem;
}

.home .home__content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .home__content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.btn-appointment,
.btn-search {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  /* padding-left: 1rem; */
  border: var(--border);
  background-color: var(--blue);
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

/* .btn-appointment span {
  padding: .7rem 1rem;
  border-radius: .5rem;
  background: var(--blue);
  color: #fff;
  margin-left: .5rem;
} */

.btn-appointment:hover,
.btn-search:hover {
  background: #fff;
  color: var(--blue);
  margin-left: 1rem;
  box-shadow: var(--box-shadow);
}

.btn-appointment:hover span {
  color: var(--blue);
  background: #fff;
  margin-left: 1rem;
}

/* SECTION ABOUT */
.about .about__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .about__row .about__image {
  flex: 1 1 45rem;
}

.about .about__row .about__image img {
  width: 100%;
}

.about .about__row .about__content {
  flex: 1 1 45rem;
}

.about .about__row .about__content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .about__row .about__content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

/* SECTIONS SERVICES */
.services .services__box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .services__box-container .services__box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  /* border: var(--border); */
  padding: 2.5rem;
}

.services .services__box-container .services__box i {
  color: var(--blue);
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .services__box-container .services__box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .services__box-container .services__box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

/* SECTION DOCTORS */
fieldset {
  border: var(--border);
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

label {
  font-size: 2rem;
  padding: 0rem 1.25rem;
}

input {
  border: var(--border);
  border-radius: 1.125rem;
  max-width: 200rem;
  flex-grow: 1.5;
  padding: 0 1.25rem;
}

.btn-search {
  margin-top: 0rem;
  margin-left: 1rem;
  max-width: 12.5rem;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 1.125rem;
  transition: var(--black) 0.2s ease-out;
}

ul.pagination li a.active {
  background-color: var(--blue);
  color: white;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

/* section__box-container hacer COMPONENTE EN REACT */
.section__box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
/* section__box-container */

.doctors .doctors__box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.doctors .doctors__box-container .box {
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
  /* border:var(--border); */
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.doctors .doctors__box-container .box img {
  height: 20rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctors .doctors__box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.doctors .doctors__box-container .box span {
  color: var(--blue);
  font-size: 1.5rem;
}

.doctors .doctors__box-container .box .social {
  padding-top: 2rem;
}

.doctors .doctors__box-container .box .social a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: var(--blue);
  color: #fff;
  border-radius: 0.5rem;
  border: var(--border);
  margin: 0.3rem;
}

.doctors .doctors__box-container .box .social a:hover {
  background: #fff;
  color: var(--blue);
  box-shadow: var(--box-shadow);
}

/* FOOTER */
.footer {
  text-transform: capitalize;
}

.footer .footer__box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .footer__box-container .footer__box h3 {
  font-size: 2.5rem;
}

.footer .footer__box-container .footer__box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .footer__box-container .footer__box a i {
  padding-right: 0.5rem;
  color: var(--blue);
}

.footer .footer__box-container .footer__box a:hover i {
  padding-right: 2rem;
}

/* media queries */
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  fieldset {
    align-self: start;
  }
}

@media (max-width: 768px) {
  #header__menu-btn-responsive {
    display: initial;
  }

  .header .header__navigation {
    position: absolute;
    top: 115%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    /**-- border: var(--border);*/
    background: #f5f5f5;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }

  .header .header__navigation.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }

  .header .header__navigation a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }

  input {
    flex-grow: 1;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  fieldset {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .btn-search {
    width: 30rem;
  }
}