/* HOME */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .home__image {
  flex: 1 1 45rem;
}

.home .home__image img {
  width: 100%;
}

.home .home__content {
  flex: 1 1 45rem;
}

.home .home__content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .home__content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

/* SECTION ABOUT */
.about .about__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .about__row .about__image {
  flex: 1 1 45rem;
}

.about .about__row .about__image img {
  width: 100%;
}

.about .about__row .about__content {
  flex: 1 1 45rem;
}

.about .about__row .about__content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .about__row .about__content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

